@charset "UTF-8";
@import url("common.css");
#header{
	position: relative;
}
#header>.wrap{
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 1;
}
#header>.wrap a{
	color: #fff;
}
#h-top{
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

#logo>.wrap .gnb a{
	/* display: inline-block; */
	width: 50px;
	height: 50px;
}
#logo>.wrap .gnb a span{
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	overflow: hidden;
}
#logo>.wrap .gnb a span i{
	display: block;
	position: absolute;
	width: 100%;
	border-top:2px solid #fff;
	transition: all 0.2s;
	left: 0
}
#logo>.wrap .gnb a span i:nth-child(1){
	top:3px;
}
#logo>.wrap .gnb a span i:nth-child(2){
	top:9px;
}
#logo>.wrap .gnb a span i:nth-child(3){
	top:16px;
}
/* //////a영역에 마우스가 올라가가면///// */
#logo>.wrap .gnb a:hover span i:nth-child(1){
	transform: rotate(45deg);
	left: 3.5px;
}

#logo>.wrap .gnb a:hover span i:nth-child(2){
	transform: rotate(-180deg);
}
#logo>.wrap .gnb a:hover span i:nth-child(3){
	transform: rotate(-45deg);
	left: 3.5px;
}


#logo>.wrap .bi-logo{
	width: 128px;
	height: 46px;
	margin: 5px 0;
	background-image: url("../images/m2logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	 
}


#user>.wrap{
	line-height: 56px;
	font-size: 14px;
}
#user>.wrap ul li:first-child{
	position: relative;
}
#user>.wrap ul li:first-child::after{
	content: "";
	display: inline-block;
	border-left: 1px solid #777;
	height: 14px;
	position: absolute;
	right: 0;
	top:21px;
}
#user>.wrap ul li a{
	padding: 1em;
}

#lnb>.wrap{
	height: 58px;
	line-height: 58px;
}
#lnb>.wrap ul{
	margin-left: 38px;
}
#lnb>.wrap ul li a{
	padding: 0 16px;
	font-size: 15px;
	height: 58px;
	display: inline-block;
}
#lnb>.wrap ul li a span{
	color: #ff5f3c;
}



#visual>.wrap ul li{
	height: 520px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}
#visual>.wrap ul li:first-child {
	background-image: url("../images/bn_top_pc.jpg");
}

#footer{
	background-color: rgba(0,0,0,0.85);
}
#footer>.wrap a{
	color: #fff;
}
#footer>.wrap{
	width:880px;
	margin: 0 auto;
	color: #fff;
	padding: 60px 0 55px;
	letter-spacing: -1px;
}

#sns>.wrap{
	text-align: center;
	padding-bottom: 25px;
}
#sns>.wrap a{
	margin: 0 4px;
}
#sns>.wrap a.facebook{
	background-image: url("../images/icons.png");
	width: 45px;
	height: 45px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0px -50px;
	background-size: 90px;
}
#sns>.wrap a.facebook:hover{
	background-position: -46px -50px;
}

#sns>.wrap a.youtube{
	background-image: url("../images/icons.png");
	width: 45px;
	height: 45px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0px -95px;
	background-size: 90px;
}
#sns>.wrap a.youtube:hover{
	background-position: -46px -95px;
}

#link>.wrap ul li a{
	padding: 0 11px;
	font-size: 14px;
}


.footer-logo .f-logo{
	background-image: url("../images/icons.png");
	width: 47px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 90px;
}
.footer-logo .sword{
	background-image: url("../images/icons.png");
	width: 25px;
	height: 24px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -68px 0px;
	background-size: 90px;
}

#copy>.wrap{
	border-top: 1px solid rgba(255,255,255, .3);
	margin-top: 25px;
	padding-top: 30px;
	font-size: 12px;
	color: rgba(255,255,255,0.4);
}
#copy>.wrap>div>div{
	margin-bottom: 0.5em;
}

#copy>.wrap .info div dl{
	display: flex;
	margin-right: 0.8em;
	
}
#copy>.wrap .info div dl dt{
	margin-right: 0.5em;
	color: rgba(255,255,255,0.6);
}


#copy>.wrap .footer-logo{
	margin-top: 25px;
}

#copy>.wrap .footer-logo span{
	margin: 5px 25px;
	
	height: 15px;
	display: block;
	border-left: 1px solid rgba(255,255,255,0.1);
}
