@charset "UTF-8";
@import url("common.css");
body{
	letter-spacing: -.6px;
	font-size: 14px;
}
header>.wrap{
	height: 50px;
	border-bottom: 1px solid #d5d9e2;
	text-align: center;
	font-size:0; 
	
}
header>.wrap div a{
	height: 26px;
	display: inline-block;
}
header>.wrap div a span{
	display: inline-block;
	width: 107px;
	height: 26px;
	background-image: url("../images/bi-plaync-s.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
/* //////////////////// */

main>.wrap{
	width: 440px;
	margin: 0 auto;
	padding: 60px 0;
}

main>.wrap input{
	width: 100%;
	height: 58px;
}
main>.wrap .email input{
	flex:1; 
}
main>.wrap .email button{
	width: auto;
	padding: 0 10px;
	margin-left: 10px;
}
main>.wrap .tit p{
	color: #535768;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}
main>.wrap .tit span{
	color: #9398aa;
	font-size: 15px;
	display: block;
	text-align: center;
	margin-top: 15px;
}

main>.wrap form{
	margin-top: 40px;
}

main>.wrap form .sec p{
	color: #4998f1;
	line-height: 21px;
	font-weight: 900;
	margin-top: 15px;
}
main>.wrap form .sec p i{
	font-size: 21px;
	margin-right: 0.3em;
}
main>.wrap form .sec p span{
	text-decoration: underline;
	cursor: pointer;
}
main>.wrap form div .msg{
	padding: 8px 0 7px;
}
main>.wrap form div{
	margin-top: 8px;
}
main>.wrap div input[type=submit],
main>.wrap div button[type=button]{
	background-color: #004c98;
	color: #fff;
	border: none;
	cursor: pointer;
}
main>.wrap div p.msg{
	font-size: 14px;
	color: #999;
}


footer>.wrap{
	width: 880px;
	margin: 0 auto;
}
#lang>.wrap select{
	width:150px;
	height: 45px;
}
#link{
	margin: 30px 0 25px;
	padding: 18px 0;
	border-top: 1px solid #e3e3e3; 
	border-bottom: 1px solid #e3e3e3; 
}
#link>.wrap ul li a{
	padding: 0 10px; 
	color: #00000099;
}
#copy>.wrap{
	color: #888;
	font-size: 12px;
}
#copy>.wrap .info div dl{
	display: flex;	
	margin-right: 0.5em;
}
#copy>.wrap .info div dl dt{
	margin-right: 0.5em;
	color: #666;
}

#copy>.wrap .footer-logo{
	margin-top: 25px;
}
#copy>.wrap .footer-logo .f-logo{
	display: block;
	width: 47px;
	height: 25px;
	background: url("../images/footer-logo-nc.svg");
	background-repeat: no-repeat;
}

#copy>.wrap .footer-logo .sword{
	display: block;
	width: 25px;
	height: 25px;
	background: url("../images/ncdinos-black.png");
	background-repeat: no-repeat;
}

#copy>.wrap .footer-logo span{
	margin: 0 16px;
	display: block;
	height: 15px;
	margin-top: 5px;
	border-left: 1px solid #a9a9a9;
}

.line{
	line-height: 1.5;
}


input:disabled{
	background-color: rgba(0,0,0,0.3) !important;
}